@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');

html,
body {
    height: 100%;
}

body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.to-do-app-container {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 60px (0, 0, 0, .2);
    border-radius: 5px;
}

.to-do-app-container h3 {
    font-size: 36px;
    color: #ecf0f1;
    text-transform: capitalize;
    margin: 0 0 25px;
}

/*new task*/

.new-task-container {
    margin-bottom: 25px;
}

.to-do-app-tasks-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-task {
    margin-bottom: 15px;
}
